
.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
}

.form-container {

    background-color: #1f1f1f; 
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    color: white;

}

.form-layout {
    display: flex;
    gap: 40px;
    margin-bottom: 30px;
}

.form-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-upload-box {
    width: 100%;
    height: 250px;
    background-color: #2a2a2a;
    border: 2px dashed #666;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
}

.image-upload-box:hover {
    border-color: #d13639;
    background-color: #333;
}

.image-upload-box input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.image-upload-box label {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #aaa;
    pointer-events: none;
}

.upload-icon {
    font-size: 40px;
    margin-top: 10px;
}

.form-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #ddd;
}

.form-group input {
    background-color: #111;
    border: 1px solid #444;
    padding: 12px;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: #d13639;
}

.form-group input[type="number"] {
    width: 80px;
}


.form-footer {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
}

.grand-bouton {
    padding: 15px 40px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}